.banner {
  width: 100%;
  height: 665px;
  background-image: url(/assets/bannerImg.png);
  position: relative;
}
.logo {
  margin-top: 50px;
  margin-left: 70px;
  width: 207px;
  height: 25px;
  object-fit: cover;
  border-radius: 0;
}

h1 {
  font-family: "Anton", sans-serif;
  color: var(--yellow);
  font-size: 44px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 180px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.brH1 {
  display: block;
}
.searchWrapper {
  width: 80%;
  max-width: 954px;
  height: auto;
  border-radius: 11px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  z-index: 20;
}
.searchBar {
  display: flex;
  width: 954px;
  height: 72px;
  align-items: center;
  /* z-index: 10; */
}

.keyWords {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  z-index: 99;
  background-color: white;
}
.keyWords::before {
  content: "";
  display: block;
  width: 97.5%;
  height: 1px;
  color: var(--gray);
  background-color: var(--gray);
  margin: 0 auto;
}
/* -----mainKey---------- */
.mainKey {
  display: flex;
  align-items: center;
  /* padding: 8px 0; */
  width: 954px;
  font-family: "Manrope", sans-serif;
  padding-left: 35px;
  cursor: pointer;
  z-index: 30;
}
.mainKeyText {
  margin-left: 5px;
  font-size: 16px;
  color: var(--gray);
  font-family: "Manrope", sans-serif;
}
.mainKeyCloseBtn {
  width: 17px;
  height: 17px;
  margin-left: auto;
  margin-right: 27px;
  z-index: 99;
  display: none;
}
.mainKeyCloseBtn:hover {
  transform: scale(1.1);
}
.mainKey:hover .mainKeyCloseBtn {
  display: block;
}

/* ------------------------ */
.searchKeyBtn {
  width: 100%;
  height: 100%;
  display: flex;
  border: none;
  background-color: transparent;
  margin-right: 20px;
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.searchKeyBtn:hover {
  background-color: var(--yellow);
}
/* ------------------------ */
.searchKeyImg {
  width: 16px;
  height: 16px;
}

.mainKey:hover,
.mainKey:hover .searchKeyImg {
  background-color: var(--yellow);
}

.searchMain {
  width: 100%;
  height: 100%;
  margin-right: 25px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  color: var(--gray);
  padding-left: 35px;
}
.searchIcons {
  display: flex;
}
/* ------------- */
.cleanSearchMain {
  width: 13px;
  height: 13px;
  margin: auto 0;
  display: none;
}
.show {
  display: block;
}
.cleanSearchMain:hover {
  transform: scale(1.1);
}
/* -------------- */
.searchBtn {
  width: auto;
  height: auto;
  position: relative;
  width: 52px;
  height: 52px;
  margin-right: 10px;
  margin-left: 24px;
  border: none;
  outline: none;
  background: transparent;
}
.searchImg,
.searchImgYellow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.searchImgYellow {
  z-index: 2;
  display: none;
}
.searchBtn:hover .searchImgYellow {
  display: block;
}
.searchBtn:hover .searchImg {
  display: none;
}
.searchBtn:active .searchImgYellow {
  transform: scale(1.05);
}
/* ----NOT FOUND----- */
.notFoundWrapper {
  width: 100%;
  height: auto;
}
.searchResponse {
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  line-height: 160%;
}
.viewList {
  display: block;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  text-align: center;
  /* margin: 0 auto; */
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid rgb(170, 170, 170);
  padding: 5px 10px;
  border-radius: 10px;
}
.viewList:hover {
  background-color: var(--yellow);
}
.qtyRecipes {
  color: var(--black);
  font-family: "Anton", sans-serif;
  font-size: 21px;
  margin-left: auto;
  margin-top: 38px;
  position: absolute;
  bottom: -70px;
  right: 100px;
  z-index: 99;
}
/* ------Responsive------------- */

@media all and (max-width: 1279px) {
  h1 {
    font-size: 36px;
  }
  .searchBar {
    width: 100%;
    height: 72px;
  }
  .searchIcons {
    margin-left: auto;
  }
  .qtyRecipes {
    right: 70px;
  }
}
@media all and (max-width: 1023px) {
  .banner {
    height: 560px;
  }
  h1 {
    font-size: 32px;
    margin-top: 100px;
  }
  .searchBar {
    height: 60px;
  }
  .logo {
    width: 190px;
    height: auto;
  }
  .qtyRecipes {
    right: 30px;
    bottom: -60px;
  }
}
@media all and (max-width: 767px) {
  .searchBar {
    box-shadow: 0 0 5px black;
  }
  .keyWords {
    /* border: 2px solid red; */
    z-index: 99;
  }
  .banner {
    height: 440px;
  }
  .logo {
    width: 170px;
    margin-left: 40px;
    margin-top: 40px;
  }
  .qtyRecipes {
    bottom: 20px;
    color: var(--yellow);
    z-index: 10;
  }
  h1 {
    font-size: 24px;
    margin-top: 60px;
    font-weight: 400;
  }
  .searchResponse{
    font-size: 20px;
    margin-top: 40px;
  }  
}
@media all and (max-width: 539px) {
  .banner {
    height: 400px;
  }
  h1 {
    font-size: 20px;
    margin-top: 60px;
  }
  .logo {
    width: 150px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .searchWrapper {
    width: 90%;
  }
  .searchMain {
    padding-left: 15px;
  }
  .mainKey {
    padding-left: 15px;
  }
  .searchResponse{
    font-size: 18px;
    margin-top: 40px;
  }  
}
@media all and (max-width: 439px) {
  h1 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .brH1 {
    display: none;
  }
  .qtyRecipes {
    font-size: 16px;
  }
  .searchBar {
    height: 50px;
  }
  .searchBtn {
    margin-right: 0;
    margin-left: 15px;
    width: 45px;
  }
  .searchImg,
  .searchImgYellow {
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }
  .searchResponse{
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
  }  
  .viewList{
    font-size: 16px;
  }
}
